<html>
  <head>
    <title>Edit Athlete</title>
  </head>
  <body>
    <div class="container">
      <h2>Edit the Athlete: {{title}}</h2>

      <form
        class="athlete-edit-page"
        action="/athlete/athlete-edit/{{_id}}/"
        method="post"
      >
        <div>
          <label for="name-input">Name:</label>
          <input type="text" name="name" id="name-input" value="{{name}}" />
        </div>

        <div>
          <label for="nationality-input">Nationality:</label>
          <input
            type="text"
            name="nationality"
            id="nationality-input"
            value="{{nationality}}"
          />
        </div>

        <div>
          <label for="achievement-input">Achievement:</label>
          <input
            type="text"
            name="achievement"
            id="achievement-input"
            value="{{achievement}}"
          />
        </div>

        <div>
          <label for="dateofbirth-input">Date of Birth:</label>
          <input
            type="date"
            name="dateofbirth"
            id="dateofbirth-input"
            value="{{dateofbirth}}"
          />
        </div>

        <div>
          <label for="gender">Gender:</label>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="male"
              value="{{gender}}"
            />
            <label class="form-check-label" for="male">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              id="female"
              value="{{gender}}"
            />
            <label class="form-check-label" for="female">Female</label>
          </div>
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>