<h2>Edit the Athlete: {{title}}</h2>

<form action="/athlete/athlete-edit/{{_id}}/" method="post">

  <label for="Name-input">Name:</label>
  <input type="text" name="Name" id="Name-input" value="{{Name}}" />

  <label for="Nationality-input">Nationality:</label>
  <input
    type="text"
    name="Nationality"
    id="Nationality-input"
    value="{{nationality}}"
  />

  <label for="Achievement-input">Achievement:</label>
  <textarea
    name="Achievement"
    id="Achievement-input"
    cols="30"
    rows="4"
  >{{achievement}} </textarea>

  <label for="Date of Birth-input">Date of Birth:</label>
  <input
    type="number"
    name="Date of Birth"
    id="Date of Birth-input"
    min="1"
    max="10"
    value="{{dateofbirth}}"
  />

  <label for="Gender-input">Gender:</label>
  <input
    type="number"
    name="Gender"
    id="Gender-input"
    min="1"
    max="10"
    value="{{gender}}"
  />
  <button type="submit" value="edit">Edit</button>
</form>