<div class="athlete-info">
  <img class="card-img-top" src={{data.imageUrl}} alt={{data.achievement}} />
  <div class="item">
    Name :
    {{data.name}}</div>
  <br />
  <div class="item">
    Nationality :
    {{data.nationality}}</div>
  <div class="item">
    Achievement :
    {{data.achievement}}</div>
  <div class="item">
    Date of Birth :
    {{data.dateofbirth}}</div>
  <div class="item">
    Gender :
    {{data.gender}}</div>
</div>
<form action="/delete" method="post">
  <div class="form-submit">
    <button type="submit" value="Delete Profile" />
  </div>
</form>

{{!-- {{#each list}}
    <div>
      <h3>{{title}}</h3>
      <p>{{Name}}</p>
      <p>{{Nationality}}</p>
      <p>{{Achievement}}</p>
      <p>{{Date of Birth}}</p>
      <p>{{Gender}}</p>
      <a href="/athlete/{{_id}}/edit">Edit</a>
      <form action="/athlete/{{_id}}/delete" method="POST">
        <button>Delete</button>
      </form>
    </div>
    <hr />
  {{/each}} --}}