<div class="athletes-page">
  <form id="form-search-athlete">
    <div class="search-profile">
      <a href="athlete-create" class="btn btn-primary btn-gray-300">Create
        Athlete Profile</a>
      &nbsp;
    </div>
  </form>
  <br />
</div>
<br />
<div class="Athletes-album">
  {{#each list}}
    <a href="/athlete/athlete-info?id={{this.id}}"><div class="card">
        <img
          class="card-img-top"
          src={{this.imageUrl}}
          alt={{this.achievement}}
        />
        <div class="card-body">
          <p class="card-text">
            {{this.name}}
            |
            {{this.nationality}}
          </p>
          <p>{{this.achievement}}</p>
        </div>
      </div></a>
  {{/each}}
</div>