<h2 class="">Edit the Athlete: {{title}}</h2>

<form
  class="edit-page-css"
  action="/athlete/athlete-edit/{{_id}}/"
  method="post"
>

  <label for="name-input">Name:</label>
  <input type="text" name="name" id="name-input" value="{{name}}" />

  <label for="nationality-input">Nationality:</label>
  <input
    type="text"
    name="nationality"
    id="nationality-input"
    value="{{nationality}}"
  />

  <label for="Achievement-input">Achievement:</label>
  <input
    type="text"
    name="achievement"
    id="achievement-input"
    value="{{achievement}}"
  />

  <label for="dateofbirth-input">Date of Birth:</label>
  <input
    type="date"
    name="dateofbirth"
    id="dateofbirth-input"
    value="{{dateofbirth}}"
  />
  <div>
    <br />
    <label for="gender">Gender:</label>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="gender"
        id="male"
        value="{{gender}}"
      />
      <label class="form-check-label" for="male">Male</label>
      <br />
    </div>
    <div class="form-check form-check-inline">
      <br />
      <input
        class="form-check-input"
        type="radio"
        name="gender"
        id="female"
        value="{{gender}}"
      />
      <label class="form-check-label" for="female">Female</label>
    </div>
  </div>
  <br />
  <button class="btn btn-primary btn-gray-300" type="submit">Submit</button>
</form>

{{! ---------------------------------------------- }}