<div class="athlete-info">
  <img class="card-img-top" src={{data.imageUrl}} alt={{data.achievement}} />
  <div class="item">
    Name :
    {{data.name}}</div>
  <br />
  <div class="item">
    Nationality :
    {{data.nationality}}</div>
  <div class="item">
    Achievement :
    {{data.achievement}}</div>
  <div class="item">
    Date of Birth :
    {{data.dateofbirth}}</div>
  <div class="item">
    Gender :
    {{data.gender}}</div>
</div>

<form action="/athlete/delete/{{data._id}}" method="post">
  <div class="des-button">
    <button type="submit" value="Delete Profile">Delete Profile</button>
  </div>
</form>

<form action="/athlete/athlete-edit/{{data._id}}" method="get">
  <div class="des-button">
    <button type="submit" value="edit Profile" />edit Profile
  </div>
</form>
{{!-- <a href="/athlete/athlete-edit/{{data._id}}">edit</a> --}}