<div class="athlete-info">
  <img class="card-img-top" src={{data.imageUrl}} alt={{data.achievement}} />
  <div class="item">
    Name :
    {{data.name}}</div>
  <br />
  <div class="item">
    Nationality :
    {{data.nationality}}</div>
  <div class="item">
    Achievement :
    {{data.achievement}}</div>
  <div class="item">
    Date of Birth :
    {{data.dateofbirth}}</div>
  <div class="item">
    Gender :
    {{data.gender}}</div>
</div>