<h2>Edit the Athlete: {{title}}</h2>

<form action="/books/{{_id}}/edit" method="post">

  <label for="Name-input">Name:</label>
  <input type="text" name="Name" id="Name-input" value="{{Name}}" />

  <label for="Nationality-input">Nationality:</label>
  <input
    type="text"
    name="Nationality"
    id="Nationality-input"
    value="{{Nationality}}"
  />

  <label for="Achievement-input">Achievement:</label>
  <textarea
    name="Achievement"
    id="Achievement-input"
    cols="30"
    rows="4"
  >{{Achievement}} </textarea>

  <label for="Date of Birth-input">Date of Birth:</label>
  <input
    type="number"
    name="Date of Birth"
    id="Date of Birth-input"
    min="1"
    max="10"
    value="{{Date of Birth}}"
  />

  <label for="Gender-input">Gender:</label>
  <input
    type="number"
    name="Gender"
    id="Gender-input"
    min="1"
    max="10"
    value="{{Gender}}"
  />
</form>